body {
	background-color: #1c252e;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* Navigation Bar / SideBar */
.navbar {
	background: rgba(0, 0, 0, 0.2);
	width: 84px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

/* container for Nav-Icon */
.nav-icon {
}

/* Container for all the links */
.links {
	color: #f9f9f9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.link-item {
	margin-top: 28px;
	color: #ffffff;
	opacity: 0.7;
	height: 32px;
	width: 32px;
}

/* Actual content(?) */
.content {
	/* background-color: green; */
	height: 100vh;
	flex-grow: 1;

	/* content font and opacity: ; */
	color: #f9f9f9;
	opacity: 0.7;

	/* margin, for all pages */
	padding-left: 80px;
	padding-top: 120px;
}

.title {
	font-size: 96px;
	margin: 0;
}

.body-text {
	font-size: 24px;
	line-height: 36px;
	margin: 0;
	max-width: 844px;
}

.about {
	height: 100%;
}

.about .text-content {
	/* background-color: greenyellow;
	color: #1c252e;
	/* width: 844px; */
	/* margin-right: 50%;
	margin-top: 0;
	*/
}

.about .socials {
	/* background-color: aqua;
	color: black;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 0; */
}

.about .socials p {
	/* background-color: khaki;
	padding-right: 5px;
	margin-top: 0; */
}
